@import "../util";


img {
    border: 0;
    vertical-align: middle;
    display: inline-block;
}



.image {
    position: relative;
    width: 100%;
    object-fit: fill;
}
@media (max-width: $breakpoint-phone--lg) {
    .image {
        max-width: 350px;
    }
}
@media (max-width: $breakpoint-phone) {
    .image {
        max-width: 350px;
    }
}


.image-phone {
    align-self: center;
    justify-self: center;
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 1;
    grid-column-end: span 1;

    transform: translate3d(0px, 1.1586px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    opacity: 1;
    transform-style: preserve-3d;
    will-change: transform;
}
@media (max-width: $breakpoint-tablet) {
    .image-phone {
        align-self: center;
        justify-self: center;
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 3;
        grid-column-end: 4;
    }   
}
@media (max-width: $breakpoint-phone--lg) {
    .image-phone {
        grid-column-start: 1;
        grid-column-end: 2;
    }   
}
@media (max-width: $breakpoint-phone) {
    .image-phone {
        grid-column-start: 1;
        grid-column-end: 2;
    }   
}